body {

  margin-top: 60px;
  background-color: rgb(245, 235, 217);
}

.gameBored {
  display: flex;
  position: relative;
  
 
  
}

.header {
  display: flex;
  align-items: center;

  background-color: rgb(184, 61, 35);
  margin-bottom: 10px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.8);
 


}
.resetButtonContainer {
  margin-left: 20px;
  flex: 1;
  
}

.resetButton {
  
 
  background-color: red;
  color: white;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 18px;
  
  
}
.title {
  flex: 1;

  font-size: 30px;
  color: rgb(245, 235, 217);
}
.scoreContainer {
  flex: 1;
  font-size: 30px;
  color: rgb(245, 235, 217);
}


.bottomBar {
  position: absolute;
  display: flex;
  flex-direction: column;
  bottom: 0;
  left: 10px;
  right: 10px;
}

.userInputContainer {
 margin-bottom: 40px;
}

.userInput {
  width: 100%;
  border: none;
  box-shadow: 1 1 5px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  height: 32px;
  text-align: center;

}


.wordContainer {
  display: flex;
  margin-bottom: 10px;
  justify-content: center;
 
}
.letterContainer {
  margin-right: 2px;
  font-size: 80px;
  flex-wrap: wrap;
 
}
.wrongContainer {
  display: flex;
  font-size: 36px;
  box-shadow:inset 1 1 5px rgba(0, 0, 0, 0.8);
  border-radius: 6px;
  align-items: center;
  height: 66px;
  justify-content: space-around;
  
  margin-bottom: 20px;
  background: rgb(220, 168, 157);
 
  
  
}

.gallows {
  box-shadow: 1 1 5px rgba(0, 0, 0, 0.8);
  
  margin-left: auto;
  margin-right: auto;
  display: block;
  
 
}
@media screen and (min-width: 600px) {
  .gallows{
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  .gallows{
    width: 100%;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.633);
  z-index: 200;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.notification {
  background-color: rgb(150, 150, 150);
  z-index: 300;
  position: absolute;
  top: 50px;
  bottom: 50px;
  left: 50px;
  right: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.condition {
  color: rgb(245, 235, 217);

  font-size: 40px;
  margin-bottom: 20px;
}
.playAgainButton {
  color: rgb(245, 235, 217);
  background-color: rgb(184, 61, 35);
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
}
